<div class="announce">
  <p class="announce__title">{{ announcement.title }}</p>
  <p class="announce__date"><em>{{ announcement.updated_at | date: "%h %d %Y" }}</em></p>
  <div class="announce__body">{{ announcement.body }}</div>
</div>
