{% if post.assessment %}
  {{ post.assessment | assessment: color: color }}
{% else %}
  {% if video %}
    <div class="video--player">
      {{ video | wistia_video: player_color: color, still_url: thumbnail, playerPreference: "html5" }}
      {% if post.next %}
        {% if section.settings.auto_advance %}
          {% include "coming_up" %}
        {% endif %}
      {% endif %}
    </div>
  {% else %}
    {% if showThumbnail %}
      {% if thumbnail %}
        <img src="{{ thumbnail }}" class="thumb" />
      {% else %}
        <img src="{{ 'placeholder.png' | asset_url }}" class="thumb" />
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
