{% if section.settings.show_welcome %}
  {% if section.blocks.size > 0 %}
    <div class="panel" style="text-align: {{ section.settings.alignment }}"  kjb-settings-id="{{ 'alignment' | settings_id: section: section }}">
      <div class="panel__body">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product_video' %}
              {% include "product_video" %}
            {% when 'product_info' %}
              {% include "product_info" %}
            {% when 'product_start' %}
              {% include "product_start" %}
            {% when 'product_progress' %}
              {% include "product_progress" %}
            {% when 'product_text' %}
              {% include "panel_text" %}
            {% when 'product_img' %}
              {% include "panel_img" %}
            {% when 'product_cta' %}
              {% include "panel_cta" %}
            {% when 'product_code' %}
              {% include "panel_code" %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Welcome Body",
    "blocks": [
      {
        "type": "product_video",
        "name": "Video",
        "elements": [
          {
            "type": "header",
            "content": "Video"
          },
          {
            "type": "checkbox",
            "label": "Autoplay",
            "id": "autoplay",
            "default": "false"
          },
          {
            "type": "color",
            "id": "video_color",
            "label": "Player Color",
            "default": "#2e91fc"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Suggested dimensions: 1856 × 1044"
          }
        ]
      },
      {
        "type": "product_info",
        "name": "Product Info",
        "elements": [
          {
            "type": "header",
            "content": "Product Info"
          },
          {
            "type": "checkbox",
            "label": "Show Image",
            "id": "show_img",
            "default": "true"
          },
          {
            "type": "checkbox",
            "label": "Show Title",
            "id": "show_title",
            "default": "true"
          },
          {
            "type": "checkbox",
            "label": "Show Description",
            "id": "show_desc",
            "default": "true"
          }
        ]
      },
      {
        "type": "product_text",
        "name": "Text",
        "elements": [
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "rich_text",
            "id": "content",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui."
          }
        ]
      },
      {
        "type": "product_img",
        "name": "Image",
        "elements": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "width": 2300,
            "height": 2300,
            "info": "Suggested dimensions: 1856 × 1044"
          },
          {
            "type": "action",
            "id": "img_action",
            "label": "Image Action",
            "default": ""
          },
          {
            "type": "checkbox",
            "id": "link_target",
            "label": "Open In New Window",
            "default": "false"
          }
        ]
      },
      {
        "type": "product_cta",
        "name": "Call To Action",
        "elements": [
          {
            "type": "header",
            "content": "Call To Action"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "CTA Text",
            "default": "Call To Action"
          },
          {
            "type": "action",
            "id": "btn_action",
            "label": "CTA Action",
            "default": "http://www.kajabi.com"
          },
          {
            "type": "checkbox",
            "id": "btn_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "CTA Style",
            "default": "solid",
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "CTA Size",
            "default": "med",
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "med" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "block",
            "options": [
              { "label": "Auto", "value": "auto" },
              { "label": "Full Width", "value": "block" }
            ]
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Color",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "allow_blank": true,
            "info": "For solid buttons only"
          }
        ]
      },
      {
        "type": "product_start",
        "name": "Start Button",
        "elements": [
          {
            "type": "header",
            "content": "Start Button",
            "info": "This button will track the progress of your users so they can click to continue where they left off."
          },
          {
            "type": "text",
            "id": "start_text",
            "label": "Start Text",
            "default": "Start Course"
          },
          {
            "type": "text",
            "id": "resume_text",
            "label": "Resume Text",
            "default": "Resume Course"
          },
          {
            "type": "text",
            "id": "again_text",
            "label": "Start Over Text",
            "default": "Start Course Over"
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "CTA Style",
            "default": "solid",
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "CTA Size",
            "default": "med",
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "med" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "block",
            "options": [
              { "label": "Auto", "value": "auto" },
              { "label": "Full Width", "value": "block" }
            ]
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Color",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "allow_blank": true,
            "info": "For solid buttons only"
          }
        ]
      },
      {
        "type": "product_progress",
        "name": "Course Progress",
        "elements": [
          {
            "type": "header",
            "content": "Course Progress"
          },
          {
            "type": "text",
            "id": "completed",
            "label": "Completed Text",
            "default": "Lessons Completed"
          },
          {
            "type": "header",
            "content": "Block Appearance",
            "style": "subheading"
          },
          {
            "type": "color",
            "label": "Accent Color Override",
            "id": "accent_color",
            "allow_blank": true
          }
        ]
      },
      {
        "type": "product_code",
        "name": "Code",
        "elements": [
          {
            "type": "header",
            "content": "Code"
          },
          {
            "type": "textarea",
            "id": "code",
            "label": "Code",
            "default": ""
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "checkbox",
        "id": "show_welcome",
        "label": "Show Welcome Body",
        "default": "false"
      },
      {
        "type": "radio",
        "id": "alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          { "label": "Left", "value": "left" },
          { "label": "Center", "value": "center" },
          { "label": "Right", "value": "right" }
        ]
      }
    ]
  }
{% endschema %}
