<div id="" class="section section--global section--categories">
  <div class="container">
    <div class="row">
      {% section "breadcrumbs" %}
    </div>
    <div class="row section__row">
      <div class="section__body col-lg-8">
        {% section "categories_body" %}
      </div>
      {% section "product_sidebar" %}
    </div>
  </div>
</div>
