{% section "product_hero" %}
<div id="" class="section section--global section--product">
  <div class="container">
    <div class="row section__row">
      <div class="section__body col-lg-8">
        {% section "product_body" %}
        {% section "product_syllabus" %}
      </div>
      {% section "product_sidebar" %}
    </div>
  </div>
</div>
